*{
    box-sizing: border-box;
}

*::after,*::before{
    box-sizing: inherit;
}


p{
    margin: 0;padding: 0;
}

.easytable{

    &-container{
        padding: 10px;
    }

    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid #d1d1d1;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    &-pagination-wrapper{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &-table-wrapper{
        padding: 10px;
    }

}